
    .title_font {
      position: absolute;
      top: 18%;
      left: 15%;
      color: coral;
      font-weight: 1500;
      font-size: 750%;
      font-family: fantasy;
    }
    .slogan_font {
      position: absolute;
      font-style: italic;
      font-weight: bold;
      font-size: 350%;
      top: 70%;
      left: 30%;
      color: coral;
    }
    .note{
      position: absolute;
      font-style:normal;
      font-weight: bold;
      font-size: 250%;
      top: 87%;
      left: 68%;
      color: coral;
    }

    .title_image {
      width: 400px;
      height: 100px;
      border-style: double;
    }

    .about_lalibela_em {
      font-weight: bold;
      font-size: x-large;
      font-style: normal;
      color: rgb(234, 230, 230);
      position: absolute;
      top: 22%;
      left: 69%;
      background-color: coral;
    }
    .menu_em {
      font-weight: bold;
      font-size: x-large;
      font-style: normal;
      color: rgb(234, 230, 230);
      position: absolute;
      top: 22%;
      left: 50%;
      background-color: coral;
    }

    .location_em {
      font-weight: bold;
      font-size: x-large;
      font-style: normal;
      color: rgb(234, 230, 230);
      position: absolute;
      top: 22%;
      left: 60%;
      background-color: coral;
    }
    .contact_em {
      font-weight: bold;
      font-size: x-large;
      font-style: normal;
      color: rgb(234, 230, 230);
      position: absolute;
      top: 22%;
      left: 79%;
      background-color: coral;
    }

    img {
      width: 400px;
      border-radius: 20px;
      border-style: ridge;
    }
    .description_class {
      color: white;
      font-weight: 1500;
      font-family: cursive;
      font-size: xx-large;
      background-color: coral;
    }
    .about_lalibela_class {
      font-style: italic;
      font-size: larger;
      font-weight: bold;
    }

    body {
      background-image: url("images/backbackground.jpg");
      background-size: cover;
      background-repeat: repeat center;
      
    }
    .front_image {
      width: 1300px;
      height: 600px;
      border-radius: 100px;
      border-style: ridge;
      position: relative;
      top: 17%;
      left: 7%;
    }
    .migib {
      color: white;
      font-weight: 1500;
      font-family: cursive;
      font-size: 200%;
    }
    .menu_class {
      color:chartreuse;
      font-weight: bold;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 300%;
      background-size:10%;

    }
  
